*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/nbproject/jdk.xml
/nbproject/nbjdk.xml
/nbproject/project.xml
/nbproject/nbjdk.properties
/build/web/WEB-INF/classes/SimpleService.properties
/nbproject/genfiles.properties
/nbproject/private/
/build/web/WEB-INF/classes/help.txt
!/templates/standalone/lib/cricket-1.0.0.jar
!/templates/standalone/lib/cricket-1.0-B1.jar
!/templates/standalone/lib/cricket-1.0-B2.jar
!/templates/standalone/lib/cricket-lite-1.0-B2.jar
!/lib/json.jar
!/templates/standalone/lib/cricket-1.0-B4.jar
/cricket2.json
!/templates/standalone/lib/cricket-1.0-B5.jar
/x264-20150223-x86_64-3_microlinux
!/templates/standalone/lib/cricket-1.0-B6.jar
/www/cpu.png
/templates/standalone/build/web/WEB-INF/classes/cricket.json
!/lib/json-io-4.3.0.jar
!/templates/standalone/lib/cricket-1.0-B7.jar
/attic/
/build/
/buildj/
/db/echo.xml
/db/scheduler.xml
/db/servicedb.trace.db
/db/servicedb.h2.db
/nbproject/ide-file-targets.xml
!/templates/standalone/lib/cricket-1.0-B8.jar
/log/cricket.log
!/lib/commons-csv-1.2.jar
/http.log
/cricket.log
/docs/api/
/data/cricket.log
/www/kitty.jpg
/data/echo.xml
/www/test/test.txt
/data/cricket.log.lck
/docs/notes.txt
/CricketDoc.zip
/nbproject/
/.projectKnowledge/
/dist/CricketDoc.zip
/data/echo.echo.db
/data/echo.db
/data/echo.counters.db
/docs/javadoc/
/data/local.counters.db
/dist/cricket-1.1.0-SNAPSHOT.bin
!/lib/json-io-4.9.7.jar
/data/cricket0.log.lck
/data/cricket0.log
/data/cricket0.log.1
/data/cricket0.log.2
/db/
/dist/
/data/cricket_publickeystore.jks
/docs/todo/
/cricket-microsite.zip
!/lib/commons-csv-1.5.jar
!/lib/h2-1.4.197.jar
/reports/
!/lib/org.eclipse.paho.client.mqttv3-1.2.0.jar
!/lib/javax.mail.jar
!/lib/commons-logging-1.2.jar
!/lib/hamcrest-core-1.3.jar
!/lib/httpclient-4.5.5.jar
!/lib/httpcore-4.4.9.jar
!/lib/junit-4.12.jar
!/docs/cricket-latest.jar
/docs/documentation/
/lib/work/data/cms.mv.db
/.vscode/settings.json
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/data/
/gradle.properties
/.vscode/
/lib/
/test/
/tmp/
/test.yaml
/logs/
