*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/nbproject/jdk.xml
/nbproject/nbjdk.xml
/nbproject/project.xml
/nbproject/nbjdk.properties
/build/web/WEB-INF/classes/SimpleService.properties
/nbproject/genfiles.properties
/nbproject/private/
/build/web/WEB-INF/classes/help.txt
!/templates/standalone/lib/cricket-1.0.0.jar
!/templates/standalone/lib/cricket-1.0-B1.jar
!/templates/standalone/lib/cricket-1.0-B2.jar
!/templates/standalone/lib/cricket-lite-1.0-B2.jar
!/lib/json.jar
!/templates/standalone/lib/cricket-1.0-B4.jar
/cricket2.json
!/templates/standalone/lib/cricket-1.0-B5.jar
/x264-20150223-x86_64-3_microlinux
!/templates/standalone/lib/cricket-1.0-B6.jar