<app-home>
    <div class="jumbotron">
        <div class="container">
            <cs_article3 docuid={props.docuid} viewpage={props.viewpage} language={props.language} texts={props.texts} csapi={props.csapi}/>
        </div>
    </div>
    <div class="container">
        <app-homelist path={props.path} language={props.language} viewpage={props.viewpage} texts={props.texts} csapi={props.csapi}/>
    </div>
    <script>
    </script>
</app-home>