<configuration>
    
    <!--
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
    <appender name="LogzioLogbackAppender" class="io.logz.logback.LogzioLogbackAppender">
        <debug>true</debug>
        <inMemoryQueue>true</inMemoryQueue>
        <token>HTAheGlxbwKsITAbSbWQIIbhliseQZcd</token>
        <logzioUrl>https://listener-eu.logz.io:8071</logzioUrl>
        <logzioType>E5CalcModule</logzioType>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>
    -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/service.log</file>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS, Etc/UTC} %level [%thread] %logger{1} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
        <!--<appender-ref ref="LogzioLogbackAppender"/>-->
    </root>
</configuration>
