/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.jumbotron {
}
footer {
    border-top: 1px solid darkgrey;
    padding-top: 1rem;
}

.top-spacing {
    margin-top: 1rem;
}
h1 {
    font-size: xx-large;
    font-weight: bold;
}
article.homelist header h1 {
    font-size: x-large;
    font-weight: bold;
}
article.list{
    margin-top: 1rem;
}
article.main{
    margin-top: 1rem;
}
article.folder{
    margin-top: 1rem;
}
article.list header h1 {
    font-size: x-large;
    font-weight: bold;
}
